body{
    padding: 0;
    margin: 0;
    background-color: #FAE6EA;
    font-family: 'dosis-light';
    width: 100vw;
   
}

.videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    padding: 40px;
    margin-top: 30vh;

}
